.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
  .popup {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 90%;
    width: 1200px;
    height: 825px;
    display: flex; /* Make the content and images side by side */
    justify-content: space-between; /* Separate the content and images */
  }
  
  .close-button {
    cursor: pointer;
    background: var(--gold);
    color: var(--black);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .images-container {
    display: flex;
    justify-content: space-between; /* Arrange images side by side */
    width: 100%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .image {
    width: 32%; /* Adjust the width as needed to fit two images side by side */
    border-radius: 5px;
  }
  
  .popup-content {
    flex: 1; /* Allow the content to take remaining space */
  }
  
  .big-bold {
    font-size: 22px; /* Adjust the size as needed */
    font-weight: bold;
    display: inline; /* Display horizontally */
    padding-left: 40px;
  }
  
  .small-thin {
    font-size: 20px; /* Adjust the size as needed */
    font-weight: normal;
    display: inline; /* Display horizontally */
  }

  .number {
    margin-top: 7px;
  }

  .listing-info {
    max-width: 100%;
  }

  .listing-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .bedroom-container {
    display: flex;
    align-items: center;
  }

  .bottom-info {
    display: flex;
    justify-content: space-between;
  }

  .investment-score {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 5px;
  }

  .combined-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
  }

  .house-description {
    background-color: var(--gold);
    padding: 30px;
    border-radius: 5px;
  }

  .token-info {
    margin-right: 20px;
  }

  .invest-button {
    cursor: pointer;
    background: var(--gold);
    color: var(--black);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
  }